<ul>
  <li>Find me on</li>
  <li>
    <%= link_to "https://www.linkedin.com/in/fomaxxie/", target: :_blank do %>
      <i class="fa-brands fa-linkedin"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://twitter.com/fomaxxie", target: :_blank do %>
      <i class="fa-brands fa-square-x-twitter"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://github.com/fomaxxie", target: :_blank do %>
      <i class="fa-brands fa-square-github"></i>
    <% end %>
  </li>

</ul>
