<div class = "footer-menu">
  <p id = "find-me">Find me on</p>
  <p class = "footer-link">
    <%= link_to "https://www.linkedin.com/in/fomaxxie/", target: :_blank do %>
      <i class="fa-brands fa-linkedin"></i>
    <% end %>
  </p>
  <p class = "footer-link">
    <%= link_to "https://twitter.com/fomaxxie", target: :_blank do %>
      <i class="fa-brands fa-square-x-twitter"></i>
    <% end %>
  </p>
  <p class = "footer-link">
    <%= link_to "https://github.com/fomaxxie", target: :_blank do %>
      <i class="fa-brands fa-square-github"></i>
    <% end %>
  </p>
</div>
