
<div>
  <h4>Tech Skills</h4>
  <ul>
    <li>HTML5</li>
    <li>CSS / SCSS / Bootstrap</li>
    <li>JavaScript</li>
    <li>Ruby on Rails</li>
  </ul>
</div>

<div>
  <h4>E-Commerce Skills</h4>
    <li>Shopify store development</li>
    <li>Facebook Ads</li>
    <li>TikTok Ads</li>
    <li></li>
  </ul>
</div>
