<div class = "inner-container">
  <div class = "home-intro">
    <h3>Hi there! I am</h3>
    <h1>Max Fomkin</h1>
    <h2> > Full-Stack developer </h2>
  </div>
  <div class = "home-photo">
    <%= image_tag "max-photo.png"%>
  </div>
</div>
