.footer-menu {
  background-color: $light-blue;
  opacity: 0.4;
  border: 1px solid;
  border-color: $lighter-blue;
  border-radius: 8px;
  padding: 0px;
  justify-content: left;
  display: flex;
  margin-top: auto;
}

#find-me{
  border: 1px solid #305783;
  border-radius: 1px;
  padding: 18px;
}

.footer-link{
  display: flex;
  border: 1px solid #305783;
  border-radius: 1px;
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

.footer-link:hover {
  background-color: #000000;
  color: #ffffff;
}

.footer-link > a {
  font-size: 30px;
}
